/* Font: Montserrat */
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: 500;
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
    font-weight: 900;
}